In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv('../data/match-details/2016.csv')
df.head()

,Match_id,Player_1_playerid,Player_1_hero_id,Player_1_item1,Player_1_item2,Player_1_item3,Player_1_item4,Player_1_item5,Player_1_backpack1,Player_1_backpack2,...,Duration,First_blood_time,Lobby_type,Game_mode,Radiant_score,Dire_score,Radiant_team_id,Dire_team_id,Radiant_team_name,Dire_team_name
0,2557955371,93119769,44,168,50,116,51,208,0,0,...,2346,0,1,2,41,30,1148284,2586976,MVP Phoenix,OG
1,2558033556,93119769,73,235,48,116,147,119,0,0,...,2601,178,1,2,11,37,1148284,2586976,MVP Phoenix,OG
2,2558113366,94155156,90,244,214,36,188,46,0,0,...,1847,8,1,2,5,37,2586976,1148284,OG,MVP Phoenix
3,2558190331,129585121,6,263,63,108,116,0,0,0,...,2587,47,1,2,26,17,1836806,2512249,the wings gaming,123
4,2558255566,87382579,23,46,151,50,244,131,0,0,...,1653,0,1,2,20,9,2512249,1836806,123,the wings gaming

In [62]:
df.shape

(159, 232)

In [63]:
df1 = pd.read_csv('../data/drafting/International_2016_drafting.csv')
final = []
df1.head()

,match_id,result,Ban_T1_1,Ban_T1_2,Ban_T1_3,Ban_T1_4,Ban_T1_5,Ban_T2_1,Ban_T2_2,Ban_T2_3,...,Pick_T1_1,Pick_T1_2,Pick_T1_3,Pick_T1_4,Pick_T1_5,Pick_T2_1,Pick_T2_2,Pick_T2_3,Pick_T2_4,Pick_T2_5
0,2.557955e+09,Radiant,103.0,6.0,111.0,43.0,34.0,91.0,89.0,73.0,...,41.0,55.0,71.0,44.0,62.0,65.0,107.0,8.0,79.0,98.0
1,2.558034e+09,Dire,103.0,6.0,68.0,59.0,43.0,55.0,91.0,31.0,...,41.0,73.0,20.0,9.0,40.0,65.0,89.0,111.0,109.0,76.0
2,2.558113e+09,Dire,55.0,89.0,31.0,98.0,73.0,91.0,65.0,10.0,...,103.0,41.0,90.0,18.0,34.0,2.0,84.0,79.0,44.0,74.0
3,2.558190e+09,Radiant,103.0,20.0,93.0,38.0,70.0,91.0,16.0,68.0,...,9.0,6.0,86.0,78.0,90.0,111.0,73.0,23.0,2.0,53.0
4,2.558256e+09,Radiant,91.0,111.0,90.0,65.0,16.0,38.0,103.0,10.0,...,79.0,23.0,98.0,48.0,74.0,9.0,89.0,101.0,14.0,105.0

In [64]:
df2 = pd.read_csv('../data/hero-names/hero_name.csv')
hero_name={}
for i in range(len(df2)):
    hero_name[df2.loc[i,'heroid']] = df2.loc[i,'hero']
hero_name

{1: 'antimage',
 2: 'axe',
 3: 'bane',
 4: 'bloodseeker',
 5: 'crystal_maiden',
 6: 'drow_ranger',
 7: 'earthshaker',
 8: 'juggernaut',
 9: 'mirana',
 11: 'nevermore',
 10: 'morphling',
 12: 'phantom_lancer',
 13: 'puck',
 14: 'pudge',
 15: 'razor',
 16: 'sand_king',
 17: 'storm_spirit',
 18: 'sven',
 19: 'tiny',
 20: 'vengefulspirit',
 21: 'windrunner',
 22: 'zuus',
 23: 'kunkka',
 25: 'lina',
 31: 'lich',
 26: 'lion',
 27: 'shadow_shaman',
 28: 'slardar',
 29: 'tidehunter',
 30: 'witch_doctor',
 32: 'riki',
 33: 'enigma',
 34: 'tinker',
 35: 'sniper',
 36: 'necrolyte',
 37: 'warlock',
 38: 'beastmaster',
 39: 'queenofpain',
 40: 'venomancer',
 41: 'faceless_void',
 42: 'skeleton_king',
 43: 'death_prophet',
 44: 'phantom_assassin',
 45: 'pugna',
 46: 'templar_assassin',
 47: 'viper',
 48: 'luna',
 49: 'dragon_knight',
 50: 'dazzle',
 51: 'rattletrap',
 52: 'leshrac',
 53: 'furion',
 54: 'life_stealer',
 55: 'dark_seer',
 56: 'clinkz',
 57: 'omniknight',
 58: 'enchantress',
 59: 'huskar',
 60: 'night_stalker',
 61: 'broodmother',
 62: 'bounty_hunter',
 63: 'weaver',
 64: 'jakiro',
 65: 'batrider',
 66: 'chen',
 67: 'spectre',
 69: 'doom_bringer',
 68: 'ancient_apparition',
 70: 'ursa',
 71: 'spirit_breaker',
 72: 'gyrocopter',
 73: 'alchemist',
 74: 'invoker',
 75: 'silencer',
 76: 'obsidian_destroyer',
 77: 'lycan',
 78: 'brewmaster',
 79: 'shadow_demon',
 80: 'lone_druid',
 81: 'chaos_knight',
 82: 'meepo',
 83: 'treant',
 84: 'ogre_magi',
 85: 'undying',
 86: 'rubick',
 87: 'disruptor',
 88: 'nyx_assassin',
 89: 'naga_siren',
 90: 'keeper_of_the_light',
 91: 'wisp',
 92: 'visage',
 93: 'slark',
 94: 'medusa',
 95: 'troll_warlord',
 96: 'centaur',
 97: 'magnataur',
 98: 'shredder',
 99: 'bristleback',
 100: 'tusk',
 101: 'skywrath_mage',
 102: 'abaddon',
 103: 'elder_titan',
 104: 'legion_commander',
 106: 'ember_spirit',
 107: 'earth_spirit',
 109: 'terrorblade',
 110: 'phoenix',
 111: 'oracle',
 105: 'techies',
 112: 'winter_wyvern',
 113: 'arc_warden',
 108: 'abyssal_underlord',
 114: 'monkey_king',
 120: 'pangolier',
 119: 'dark_willow',
 121: 'grimstroke',
 129: 'mars',
 126: 'void_spirit',
 128: 'snapfire',
 123: 'hoodwink',
 135: 'dawnbreaker',
 136: 'marci'}

In [65]:
hero_list = np.array([])
for i in range(1,11):
    hero_list = np.concatenate([hero_list,(df['Player_'+str(i)+'_hero_id']).to_numpy()])

In [66]:
unique_hero,count = np.unique(hero_list,return_counts=True)
st = 'No of Unique Heroes picked :' + str(len(unique_hero)) + '\n'
print(st)
final.append(st)

temp = {int(unique_hero[i]) : int(count[i]) for i in range (len(unique_hero))}
hero_count = {hero_name[k]: v for k, v in sorted(temp.items(), key=lambda item: item[1], reverse = True)}

print(hero_count)

No of Unique Heroes picked :104

{'mirana': 81, 'batrider': 71, 'shadow_demon': 60, 'ogre_magi': 49, 'elder_titan': 49, 'faceless_void': 48, 'oracle': 48, 'shredder': 47, 'drow_ranger': 43, 'axe': 37, 'juggernaut': 37, 'beastmaster': 35, 'kunkka': 34, 'life_stealer': 31, 'vengefulspirit': 30, 'dazzle': 29, 'alchemist': 29, 'keeper_of_the_light': 29, 'wisp': 29, 'sand_king': 28, 'slardar': 28, 'nyx_assassin': 26, 'morphling': 25, 'naga_siren': 25, 'slark': 25, 'bounty_hunter': 24, 'huskar': 20, 'invoker': 20, 'razor': 19, 'terrorblade': 18, 'enchantress': 17, 'sven': 16, 'tidehunter': 16, 'death_prophet': 16, 'rubick': 16, 'earth_spirit': 16, 'lion': 15, 'riki': 15, 'dark_seer': 15, 'ursa': 15, 'chen': 14, 'skywrath_mage': 14, 'ember_spirit': 14, 'storm_spirit': 13, 'disruptor': 13, 'witch_doctor': 12, 'luna': 12, 'undying': 12, 'dragon_knight': 11, 'night_stalker': 11, 'lich': 10, 'tinker': 10, 'templar_assassin': 10, 'medusa': 10, 'antimage': 9, 'phantom_assassin': 9, 'winter_wyvern': 9, 'phantom_lancer': 8, 'queenofpain': 8, 'furion': 8, 'shadow_shaman': 7, 'warlock': 7, 'lone_druid': 7, 'legion_commander': 7, 'puck': 6, 'silencer': 6, 'bristleback': 6, 'tiny': 5, 'venomancer': 5, 'ancient_apparition': 5, 'spirit_breaker': 5, 'magnataur': 5, 'phoenix': 5, 'bane': 4, 'crystal_maiden': 4, 'broodmother': 4, 'weaver': 4, 'lycan': 4, 'abaddon': 4, 'pudge': 3, 'enigma': 3, 'viper': 3, 'clinkz': 3, 'brewmaster': 3, 'windrunner': 2, 'zuus': 2, 'doom_bringer': 2, 'gyrocopter': 2, 'obsidian_destroyer': 2, 'chaos_knight': 2, 'tusk': 2, 'earthshaker': 1, 'nevermore': 1, 'sniper': 1, 'necrolyte': 1, 'skeleton_king': 1, 'pugna': 1, 'omniknight': 1, 'jakiro': 1, 'spectre': 1, 'meepo': 1, 'troll_warlord': 1, 'centaur': 1, 'techies': 1}

In [67]:
ban_hero_list = np.array([])
for i in range(1,6):
    ban_hero_list = np.concatenate([ban_hero_list,(df1['Ban_T1_'+str(i)]).to_numpy()])
    
    ban_hero_list = np.concatenate([ban_hero_list,(df1['Ban_T2_'+str(i)]).to_numpy()])

In [68]:
unique_ban_hero,ban_count = np.unique(ban_hero_list,return_counts=True)
st = 'No of Unique Heroes Banned :'+ str(len(unique_ban_hero)) + '\n'
print(st)
final.append(st)



temp_ban = {int(unique_ban_hero[i]) : int(ban_count[i]) for i in range (len(unique_ban_hero)) }
ban_hero_count = {hero_name[k]: v for k, v in sorted(temp_ban.items(), key=lambda item: item[1], reverse = True)}

print(ban_hero_count)

No of Unique Heroes Banned :82

{'wisp': 95, 'elder_titan': 87, 'drow_ranger': 79, 'naga_siren': 71, 'shadow_demon': 60, 'huskar': 58, 'alchemist': 56, 'batrider': 55, 'mirana': 53, 'oracle': 44, 'riki': 43, 'shredder': 40, 'juggernaut': 37, 'morphling': 34, 'keeper_of_the_light': 31, 'axe': 30, 'beastmaster': 30, 'sand_king': 29, 'storm_spirit': 28, 'kunkka': 25, 'death_prophet': 25, 'life_stealer': 25, 'slark': 25, 'faceless_void': 24, 'bounty_hunter': 24, 'invoker': 23, 'tinker': 22, 'dark_seer': 22, 'nyx_assassin': 22, 'dazzle': 21, 'ogre_magi': 21, 'enchantress': 20, 'chen': 20, 'ursa': 18, 'slardar': 17, 'luna': 17, 'ancient_apparition': 17, 'razor': 16, 'terrorblade': 16, 'broodmother': 14, 'lone_druid': 14, 'tidehunter': 13, 'sven': 11, 'weaver': 10, 'vengefulspirit': 9, 'lich': 9, 'viper': 9, 'winter_wyvern': 9, 'lion': 8, 'ember_spirit': 7, 'earth_spirit': 7, 'puck': 6, 'templar_assassin': 6, 'lycan': 6, 'disruptor': 6, 'antimage': 5, 'furion': 5, 'undying': 5, 'phantom_lancer': 4, 'warlock': 4, 'queenofpain': 4, 'phantom_assassin': 4, 'dragon_knight': 4, 'rubick': 4, 'medusa': 4, 'bane': 2, 'zuus': 2, 'witch_doctor': 2, 'night_stalker': 2, 'obsidian_destroyer': 2, 'magnataur': 2, 'crystal_maiden': 1, 'tiny': 1, 'necrolyte': 1, 'omniknight': 1, 'spectre': 1, 'spirit_breaker': 1, 'meepo': 1, 'bristleback': 1, 'abaddon': 1, 'legion_commander': 1, 'phoenix': 1}

In [69]:
df2 = df.copy(deep=True)
df2['Total Kills'] = df2['Radiant_score'] + df2['Dire_score']
df2 = df2[['Match_id','Radiant_score','Dire_score','Total Kills']]
most_kills = df2.iloc[df2['Total Kills'].argmax()]
st = 'Most Kills in a match are' + str(most_kills[3]) + ' in Match id' + str(most_kills[0]) + '\n' 
print(st)
final.append(st)

Most Kills in a match are 115 in Match id 2549111670

In [70]:
df3 = df[['Match_id','Duration']]
longest_duration = df3.iloc[df3['Duration'].argmax()]
hours = int(longest_duration[1]/3600)
minutes = int((longest_duration[1] - hours*3600)/60)
seconds = int(longest_duration[1] - (hours*3600 + minutes*60))

st = 'Longest match in Tournament is' + str(hours) + ' H ' + str(minutes) + ' M '  + str(seconds) + ' S for Match id' + str(longest_duration[0]) + '\n'
final.append(st)
print(st)

Longest match in Tournament is1 H 16 M 57 S for Match id2550971502

In [71]:
df3 = df[['Match_id','Duration']]
longest_duration = df3.iloc[df3['Duration'].argmin()]
hours = int(longest_duration[1]/3600)
minutes = int((longest_duration[1] - hours*3600)/60)
seconds = int(longest_duration[1] - (hours*3600 + minutes*60))

st = 'Shortest match in Tournament is' + str(hours) + ' H ' + str(minutes) + ' M ' + str(seconds) + ' S for Match id' + str(longest_duration[0]) + '\n'
final.append(st)
print(st)

Shortest match in Tournament is0 H 15 M 28 S for Match id2550962469

In [72]:
hero_kill_temp=[]
for i in range(1,11):
    hero_kill_temp.append(list(df.iloc[df['Player_'+str(i)+'_kills'].argmax(),[0,22*(i-1)+2,22*(i-1)+11]]))

hero_kill_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_kill_temp, key=lambda item: item[2], reverse = True)]


st = 'Match id : '+str(hero_kill_sorted[0][0]) +' Hero name: ' +str(hero_kill_sorted[0][1]) + ' Total kills '+ str(hero_kill_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 2566934520 Hero name: invoker Total kills 23

In [73]:
hero_death_temp=[]
for i in range(1,11):
    hero_death_temp.append(list(df.iloc[df['Player_'+str(i)+'_deaths'].argmax(),[0,22*(i-1)+2,22*(i-1)+12]]))

hero_death_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_death_temp, key=lambda item: item[2], reverse = True)]


st = 'Match id : '+str(hero_death_sorted[0][0]) +' Hero name: ' +str(hero_death_sorted[0][1]) + ' Total deaths '+ str(hero_death_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 2549111670 Hero name: keeper_of_the_light Total deaths 17

In [74]:
hero_gpm_temp=[]
for i in range(1,11):
    hero_gpm_temp.append(list(df.iloc[df['Player_'+str(i)+'_gold_per_min'].argmax(),[0,22*(i-1)+2,22*(i-1)+16]]))

hero_gpm_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_gpm_temp, key=lambda item: item[2], reverse = True)]

st = 'Match id : '+str(hero_gpm_sorted[0][0]) +' Hero name: ' +str(hero_gpm_sorted[0][1]) + ' Total GPM '+ str(hero_gpm_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 2549420309 Hero name: alchemist Total GPM 1090

In [77]:
file1 = open('../output/Tournament-Analysis-2016.txt','w')
file1.writelines(final)
file1.close()