In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/match-details/2018.csv')
df.head()

,Match_id,Player_1_playerid,Player_1_hero_id,Player_1_item1,Player_1_item2,Player_1_item3,Player_1_item4,Player_1_item5,Player_1_backpack1,Player_1_backpack2,...,Duration,First_blood_time,Lobby_type,Game_mode,Radiant_score,Dire_score,Radiant_team_id,Dire_team_id,Radiant_team_name,Dire_team_name
0,4070356125,82262664,31,218,46,188,36,214,0,44,...,1734,323,1,2,26,12,2163,5026801,Team Liquid,NaN
1,4070423361,82262664,20,43,214,244,36,187,0,0,...,1819,50,1,2,32,9,2163,5026801,Team Liquid,NaN
2,4070500759,125581247,6,172,249,63,52,108,212,38,...,2378,11,1,2,17,29,15,1883502,PSG.LGD,Virtus.pro
3,4070556816,125581247,109,147,33,63,116,123,0,0,...,2121,0,1,2,30,13,15,1883502,PSG.LGD,Virtus.pro
4,4072252473,86726887,7,180,1,152,61,46,0,0,...,2670,268,1,2,36,30,5228654,2586976,VGJ Storm,OG

In [3]:
df.shape

(195, 232)

In [4]:

df1 = pd.read_csv('../data/drafting/International_2018_drafting.csv')
final = []
df1.head()

,match_id,result,Ban_T1_1,Ban_T1_2,Ban_T1_3,Ban_T1_4,Ban_T1_5,Ban_T1_6,Ban_T2_1,Ban_T2_2,...,Pick_T1_1,Pick_T1_2,Pick_T1_3,Pick_T1_4,Pick_T1_5,Pick_T2_1,Pick_T2_2,Pick_T2_3,Pick_T2_4,Pick_T2_5
0,4.070356e+09,Radiant,58.0,9.0,20.0,6.0,72.0,85.0,88.0,75.0,...,42.0,119.0,31.0,56.0,73.0,91.0,63.0,19.0,49.0,102.0
1,4.070423e+09,Radiant,9.0,63.0,42.0,112.0,23.0,73.0,58.0,91.0,...,20.0,61.0,107.0,65.0,70.0,19.0,53.0,36.0,5.0,12.0
2,4.070501e+09,Radiant,66.0,61.0,119.0,67.0,12.0,56.0,91.0,58.0,...,6.0,20.0,36.0,85.0,17.0,19.0,3.0,23.0,33.0,92.0
3,4.070557e+09,Radiant,66.0,61.0,119.0,41.0,67.0,34.0,91.0,58.0,...,63.0,75.0,100.0,109.0,25.0,9.0,3.0,23.0,42.0,73.0
4,4.072252e+09,Dire,45.0,53.0,91.0,74.0,114.0,70.0,9.0,42.0,...,58.0,7.0,64.0,49.0,63.0,66.0,12.0,112.0,25.0,22.0

In [5]:
df2 = pd.read_csv('../data/hero-names/hero_name.csv')
hero_name={}
for i in range(len(df2)):
    hero_name[df2.loc[i,'heroid']] = df2.loc[i,'hero']
hero_name

{1: 'antimage',
 2: 'axe',
 3: 'bane',
 4: 'bloodseeker',
 5: 'crystal_maiden',
 6: 'drow_ranger',
 7: 'earthshaker',
 8: 'juggernaut',
 9: 'mirana',
 11: 'nevermore',
 10: 'morphling',
 12: 'phantom_lancer',
 13: 'puck',
 14: 'pudge',
 15: 'razor',
 16: 'sand_king',
 17: 'storm_spirit',
 18: 'sven',
 19: 'tiny',
 20: 'vengefulspirit',
 21: 'windrunner',
 22: 'zuus',
 23: 'kunkka',
 25: 'lina',
 31: 'lich',
 26: 'lion',
 27: 'shadow_shaman',
 28: 'slardar',
 29: 'tidehunter',
 30: 'witch_doctor',
 32: 'riki',
 33: 'enigma',
 34: 'tinker',
 35: 'sniper',
 36: 'necrolyte',
 37: 'warlock',
 38: 'beastmaster',
 39: 'queenofpain',
 40: 'venomancer',
 41: 'faceless_void',
 42: 'skeleton_king',
 43: 'death_prophet',
 44: 'phantom_assassin',
 45: 'pugna',
 46: 'templar_assassin',
 47: 'viper',
 48: 'luna',
 49: 'dragon_knight',
 50: 'dazzle',
 51: 'rattletrap',
 52: 'leshrac',
 53: 'furion',
 54: 'life_stealer',
 55: 'dark_seer',
 56: 'clinkz',
 57: 'omniknight',
 58: 'enchantress',
 59: 'huskar',
 60: 'night_stalker',
 61: 'broodmother',
 62: 'bounty_hunter',
 63: 'weaver',
 64: 'jakiro',
 65: 'batrider',
 66: 'chen',
 67: 'spectre',
 69: 'doom_bringer',
 68: 'ancient_apparition',
 70: 'ursa',
 71: 'spirit_breaker',
 72: 'gyrocopter',
 73: 'alchemist',
 74: 'invoker',
 75: 'silencer',
 76: 'obsidian_destroyer',
 77: 'lycan',
 78: 'brewmaster',
 79: 'shadow_demon',
 80: 'lone_druid',
 81: 'chaos_knight',
 82: 'meepo',
 83: 'treant',
 84: 'ogre_magi',
 85: 'undying',
 86: 'rubick',
 87: 'disruptor',
 88: 'nyx_assassin',
 89: 'naga_siren',
 90: 'keeper_of_the_light',
 91: 'wisp',
 92: 'visage',
 93: 'slark',
 94: 'medusa',
 95: 'troll_warlord',
 96: 'centaur',
 97: 'magnataur',
 98: 'shredder',
 99: 'bristleback',
 100: 'tusk',
 101: 'skywrath_mage',
 102: 'abaddon',
 103: 'elder_titan',
 104: 'legion_commander',
 106: 'ember_spirit',
 107: 'earth_spirit',
 109: 'terrorblade',
 110: 'phoenix',
 111: 'oracle',
 105: 'techies',
 112: 'winter_wyvern',
 113: 'arc_warden',
 108: 'abyssal_underlord',
 114: 'monkey_king',
 120: 'pangolier',
 119: 'dark_willow',
 121: 'grimstroke',
 129: 'mars',
 126: 'void_spirit',
 128: 'snapfire',
 123: 'hoodwink',
 135: 'dawnbreaker',
 136: 'marci'}

In [6]:
hero_list = np.array([])
for i in range(1,11):
    hero_list = np.concatenate([hero_list,(df['Player_'+str(i)+'_hero_id']).to_numpy()])
len(hero_list)

1950

In [7]:
unique_hero,count = np.unique(hero_list,return_counts=True)

st = 'No of Unique Heroes picked :' + str(len(unique_hero)) + '\n'
print(st)
final.append(st)

temp = {int(unique_hero[i]) : int(count[i]) for i in range (len(unique_hero)) }
hero_count = {hero_name[k]: v for k, v in sorted(temp.items(), key=lambda item: item[1], reverse = True)}

print(hero_count)

No of Unique Heroes picked :110

{'vengefulspirit': 89, 'tiny': 78, 'mirana': 74, 'skeleton_king': 66, 'dark_willow': 66, 'weaver': 62, 'silencer': 58, 'necrolyte': 57, 'winter_wyvern': 55, 'crystal_maiden': 52, 'clinkz': 51, 'ursa': 51, 'earthshaker': 49, 'lina': 41, 'phantom_lancer': 39, 'storm_spirit': 38, 'bane': 36, 'spectre': 35, 'enchantress': 34, 'gyrocopter': 34, 'furion': 33, 'wisp': 33, 'bloodseeker': 31, 'drow_ranger': 29, 'undying': 29, 'phoenix': 28, 'pugna': 27, 'templar_assassin': 26, 'dragon_knight': 26, 'chen': 26, 'alchemist': 26, 'invoker': 24, 'windrunner': 20, 'nyx_assassin': 20, 'earth_spirit': 20, 'enigma': 19, 'broodmother': 18, 'ogre_magi': 18, 'huskar': 17, 'terrorblade': 17, 'kunkka': 16, 'tusk': 15, 'pangolier': 15, 'lion': 14, 'lich': 14, 'rubick': 14, 'zuus': 13, 'venomancer': 13, 'brewmaster': 13, 'batrider': 11, 'elder_titan': 11, 'morphling': 10, 'shadow_shaman': 10, 'treant': 10, 'ember_spirit': 10, 'oracle': 10, 'monkey_king': 10, 'arc_warden': 9, 'faceless_void': 8, 'rattletrap': 8, 'lycan': 8, 'shadow_demon': 8, 'visage': 8, 'centaur': 8, 'abyssal_underlord': 7, 'nevermore': 6, 'medusa': 6, 'magnataur': 6, 'legion_commander': 6, 'leshrac': 5, 'jakiro': 5, 'doom_bringer': 5, 'disruptor': 5, 'troll_warlord': 5, 'shredder': 5, 'witch_doctor': 4, 'keeper_of_the_light': 4, 'axe': 3, 'riki': 3, 'tinker': 3, 'warlock': 3, 'luna': 3, 'ancient_apparition': 3, 'lone_druid': 3, 'meepo': 3, 'bristleback': 3, 'juggernaut': 2, 'puck': 2, 'pudge': 2, 'sven': 2, 'queenofpain': 2, 'death_prophet': 2, 'phantom_assassin': 2, 'viper': 2, 'life_stealer': 2, 'bounty_hunter': 2, 'spirit_breaker': 2, 'abaddon': 2, 'antimage': 1, 'razor': 1, 'sand_king': 1, 'tidehunter': 1, 'sniper': 1, 'beastmaster': 1, 'omniknight': 1, 'night_stalker': 1, 'obsidian_destroyer': 1, 'chaos_knight': 1, 'naga_siren': 1, 'skywrath_mage': 1}

In [8]:
ban_hero_list = np.array([])
for i in range(1,7):
    ban_hero_list = np.concatenate([ban_hero_list,(df1['Ban_T1_'+str(i)]).to_numpy()])
    
    ban_hero_list = np.concatenate([ban_hero_list,(df1['Ban_T2_'+str(i)]).to_numpy()])
len(ban_hero_list)

2340

In [9]:
unique_ban_hero,ban_count = np.unique(ban_hero_list,return_counts=True)

st = 'No of Unique Heroes Banned :'+ str(len(unique_ban_hero)) + '\n'
print(st)
final.append(st)


temp_ban = {int(unique_ban_hero[i]) : int(ban_count[i]) for i in range (len(unique_ban_hero)) }
ban_hero_count = {hero_name[k]: v for k, v in sorted(temp_ban.items(), key=lambda item: item[1], reverse = True)}

print(ban_hero_count)

No of Unique Heroes Banned :96

{'enchantress': 150, 'wisp': 140, 'weaver': 117, 'necrolyte': 114, 'silencer': 107, 'tiny': 95, 'broodmother': 91, 'pugna': 78, 'mirana': 66, 'drow_ranger': 65, 'huskar': 65, 'phantom_lancer': 63, 'skeleton_king': 63, 'chen': 61, 'clinkz': 54, 'ursa': 50, 'furion': 49, 'bloodseeker': 47, 'spectre': 43, 'crystal_maiden': 40, 'undying': 40, 'storm_spirit': 36, 'vengefulspirit': 35, 'alchemist': 34, 'dark_willow': 34, 'enigma': 33, 'templar_assassin': 33, 'winter_wyvern': 30, 'invoker': 29, 'lina': 27, 'nyx_assassin': 26, 'earthshaker': 24, 'dragon_knight': 24, 'visage': 24, 'arc_warden': 24, 'meepo': 20, 'bane': 19, 'lycan': 18, 'kunkka': 16, 'morphling': 15, 'batrider': 15, 'phoenix': 15, 'rattletrap': 14, 'faceless_void': 13, 'venomancer': 10, 'terrorblade': 10, 'gyrocopter': 9, 'elder_titan': 9, 'zuus': 8, 'brewmaster': 8, 'monkey_king': 8, 'tinker': 7, 'tusk': 7, 'treant': 6, 'ember_spirit': 6, 'legion_commander': 5, 'nevermore': 4, 'ogre_magi': 4, 'rubick': 4, 'centaur': 4, 'pangolier': 4, 'axe': 3, 'windrunner': 3, 'lich': 3, 'leshrac': 3, 'omniknight': 3, 'obsidian_destroyer': 3, 'shadow_demon': 3, 'keeper_of_the_light': 3, 'medusa': 3, 'magnataur': 3, 'shredder': 3, 'earth_spirit': 3, 'antimage': 2, 'juggernaut': 2, 'sven': 2, 'lion': 2, 'queenofpain': 2, 'luna': 2, 'life_stealer': 2, 'bounty_hunter': 2, 'ancient_apparition': 2, 'lone_druid': 2, 'skywrath_mage': 2, 'oracle': 2, 'puck': 1, 'pudge': 1, 'shadow_shaman': 1, 'riki': 1, 'viper': 1, 'spirit_breaker': 1, 'troll_warlord': 1, 'bristleback': 1, 'abaddon': 1, 'techies': 1, 'abyssal_underlord': 1}

In [10]:
df2 = df.copy(deep=True)
df2['Total Kills'] = df2['Radiant_score'] + df2['Dire_score']
df2 = df2[['Match_id','Radiant_score','Dire_score','Total Kills']]
most_kills = df2.iloc[df2['Total Kills'].argmax()]

st = 'Most Kills in a match are ' + str(most_kills[3]) + ' in Match id ' + str(most_kills[0]) + '\n' 
print(st)
final.append(st)

Most Kills in a match are 108 in Match id 4061952570

In [11]:
df3 = df[['Match_id','Duration']]
longest_duration = df3.iloc[df3['Duration'].argmax()]
hours = int(longest_duration[1]/3600)
minutes = int((longest_duration[1] - hours*3600)/60)
seconds = int(longest_duration[1] - (hours*3600 + minutes*60))

st = 'Longest match in Tournament is' + str(hours) + ' H ' + str(minutes) + ' M '  + str(seconds) + ' S for Match id' + str(longest_duration[0]) + '\n'
final.append(st)
print(st)

Longest match in Tournament is1 H 21 M 52 S for Match id4063266100

In [12]:
df3 = df[['Match_id','Duration']]
longest_duration = df3.iloc[df3['Duration'].argmin()]
hours = int(longest_duration[1]/3600)
minutes = int((longest_duration[1] - hours*3600)/60)
seconds = int(longest_duration[1] - (hours*3600 + minutes*60))

st = 'Shortest match in Tournament is' + str(hours) + ' H ' + str(minutes) + ' M ' + str(seconds) + ' S for Match id' + str(longest_duration[0]) + '\n'
final.append(st)
print(st)

Shortest match in Tournament is0 H 16 M 59 S for Match id4065268827

In [13]:
hero_kill_temp=[]
for i in range(1,11):
    hero_kill_temp.append(list(df.iloc[df['Player_'+str(i)+'_kills'].argmax(),[0,22*(i-1)+2,22*(i-1)+11]]))

hero_kill_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_kill_temp, key=lambda item: item[2], reverse = True)]


st = 'Match id : '+str(hero_kill_sorted[0][0]) +' Hero name: ' +str(hero_kill_sorted[0][1]) + ' Total kills '+ str(hero_kill_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 4074821374 Hero name: tiny Total kills 31

In [14]:
hero_death_temp=[]
for i in range(1,11):
    hero_death_temp.append(list(df.iloc[df['Player_'+str(i)+'_deaths'].argmax(),[0,22*(i-1)+2,22*(i-1)+12]]))

hero_death_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_death_temp, key=lambda item: item[2], reverse = True)]


st = 'Match id : '+str(hero_death_sorted[0][0]) +' Hero name: ' +str(hero_death_sorted[0][1]) + ' Total deaths '+ str(hero_death_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 4076114893 Hero name: jakiro Total deaths 18

In [15]:
hero_gpm_temp=[]
for i in range(1,11):
    hero_gpm_temp.append(list(df.iloc[df['Player_'+str(i)+'_gold_per_min'].argmax(),[0,22*(i-1)+2,22*(i-1)+16]]))

hero_gpm_sorted = [[a,hero_name[b],c] for a,b,c in sorted(hero_gpm_temp, key=lambda item: item[2], reverse = True)]

st = 'Match id : '+str(hero_gpm_sorted[0][0]) +' Hero name: ' +str(hero_gpm_sorted[0][1]) + ' Total GPM '+ str(hero_gpm_sorted[0][2]) + '\n'
final.append(st)
print(st)

Match id : 4063289036 Hero name: alchemist Total GPM 1109

In [16]:
file1 = open('../output/Tournament-Analysis-2018.txt','w')
file1.writelines(final)
file1.close()